<div class="main-container">

    <div class="row">
        <div class="col-12">
            <h3>{{title}}</h3>
        </div>
    </div>
    <br />

    <div class="row justify-content-between">
        <div class="col">
            <a  href="#" class="btn btn-secondary"><ion-icon size="small" name="home-outline"></ion-icon> Volver a Home</a>
        </div>
        <div class="col text-right">
            <button data-toggle="modal" data-target="#exampleModal" class="btn btn-info" ng-click="openModal()">Nueva venta</button>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover ">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Codigo</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Tracking</th>
                            <th scope="col">Cant. Item</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="i in data track by $index">

                            <td>{{i.Id}}</td>
                            <td>{{i.OrderDate | dateFromJson }}</td>
                            <td>{{i.Customer.Name}}</td>
                            <td>
                                <span ng-if="i.OrderTracking == 'Ordenado'" class="badge badge-warning">Ordenado</span>
                                <span ng-if="i.OrderTracking == 'Empacado'" class="badge badge-secondary">Empacado</span>
                                <span ng-if="i.OrderTracking == 'Enviado'" class="badge badge-success">Enviado</span>
                                <span ng-if="i.OrderTracking == 'Entregado'" class="badge badge-danger">Entregado</span>
                            </td>

                            <td>{{i.OrderItems.length}}</td>
                            <td>
                                <a href="#/Order-detail/{{i.Id}}"><ion-icon size="small" class="text-primary" name="eye-outline"></ion-icon></a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <h3>{{modalTitle}}</h3>
                <form ng-submit="submitOrder(formBuilder)">
                    <input type="hidden" class="form-control" ng-model="formBuilder.Id" ng-disabled="disabledForm">
                    <div class="form-group">
                        <label>Nombre Cliente</label>
                        <select class="form-control" ng-model="formBuilder.selectedCustomer" ng-options="customer.Id as customer.Name for customer in customers" ng-disabled="disabledCustomer">
                            <option value="" selected disabled>Seleccione un cliente</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Producto</label>
                        <select class="form-control" ng-model="formBuilder.selectedProducts" ng-options="product.ProductId as product.ProductName for product in products">
                            <option value="" selected disabled>Seleccione un producto</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Cantidad</label>
                        <input type="number" class="form-control" ng-model="formBuilder.Quantity" ng-disabled="disabledForm">
                    </div>                   
                    <br />
                    <div class="row">
                        <div class="col text-right">
                            <a class="btn btn-primary" ng-click="addNewProduct(formBuilder)">Agregar al carrito</a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="i in forTable track by $index">
                                            <td>{{i.ProductId}}</td>
                                            <td>{{i.Name}}</td>
                                            <td>{{i.Quantity}}</td>
                                            <td>{{i.Price}}</td>
                                            <td>{{i.Price * i.Quantity}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />

                    <br />
                    <div class="row justify-content-between">
                        <div class="col align-self-start">
                            <a class="btn btn-block btn-danger" ng-click="closeModal()">Close</a>
                        </div>
                        <div class="col align-self-end">
                            <button type="submit" class="btn btn-block btn-success" ng-disabled="forTable.length <= 0">Guardar</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>