<div class="main-container">
    <div class="row">
        <div class="col-12">
            <h3>{{title}}</h3>
        </div>
    </div>
    <br />

    <div class="row text-right">
        <div class="col">
            <button class="btn btn-info">Crear nuevo</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in data">
                        <td></td>
                        <td>{{i.Id}}</td>
                        <td>{{i.ProductName}}</td>
                        <td>{{i.Stock}}</td>
                        <td>{{i.Price}}</td>
                        <td>
                            <a><ion-icon class="text-primary" name="eye-outline"></ion-icon></a>
                            <a><ion-icon class="text-warning" name="pencil-outline"></ion-icon></a>
                            <a><ion-icon class="text-danger" name="trash-outline"></ion-icon></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>