<div class="main-container">
    <div class="row">
        <div class="col-12">
            <h3>{{title}}</h3>
        </div>
    </div>
    <br />

    <div class="row justify-content-between">
        <div class="col">
            <a  href="#" class="btn btn-secondary"><ion-icon size="small" name="home-outline"></ion-icon> Volver a Home</a>
        </div>
        <div class="col text-right">
            <button data-toggle="modal" data-target="#exampleModal" class="btn btn-info" ng-click="openModal()">Crear nuevo</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Imagen </th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in data | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage" ">
                            <td ng-repeat="image in i.Images  track by $index" ng-if="$first">
                                <img ng-src="{{ image }}" alt="Product Image" width="64" height="64" />
                            </td>
                            <td>{{i.ProductId}}</td>
                            <td>{{i.ProductName}}</td>
                            <td>{{i.Stock}}</td>
                            <td>{{i.Price}}</td>
                            <td>
                                <a data-toggle="modal" data-target="#exampleModal" ng-click="openForDetail(i)"><ion-icon size="small" class="text-primary" name="eye-outline"></ion-icon></a>
                                <a data-toggle="modal" data-target="#exampleModal" ng-click="openForEdit(i)"><ion-icon size="small" class="text-warning" name="pencil-outline"></ion-icon></a>
                                <a ng-click="deleteProduct(i.ProductId)"><ion-icon size="small" class="text-danger" name="trash-outline"></ion-icon></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                
                <div class="row justify-content-between">
                    <div class="col-6">
                        <div class="pull-left">
                            <br />
                            <pre>Page: {{currentPage}}/{{numPages}}</pre>
                        </div>
                    </div>
                    <div class="col-6 align-self-end">
                        
                            <ul uib-pagination direction-links="false" total-items="data.length" items-per-page="itemsPerPage" max-size="5" ng-model="currentPage" num-pages="numPages"></ul>
                        
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body">
                <h3>{{modalTitle}}</h3>
                <form ng-submit="submitProduct(formBuilder)">
                    <input type="hidden" class="form-control" ng-model="formBuilder.Id" ng-disabled="disabledForm">
                    <div class="form-group">
                        <label>Nombre de producto</label>
                        <input type="text" class="form-control" ng-model="formBuilder.ProductName" ng-disabled="disabledForm">
                    </div>
                    <div class="form-group">
                        <label>Precio</label>
                        <input type="number" class="form-control" ng-model="formBuilder.Price" ng-disabled="disabledForm">
                    </div>
                    <div class="form-group">
                        <label>Cantidad de Stock</label>
                        <input type="number" class="form-control" ng-model="formBuilder.Stock" ng-disabled="disabledForm">
                    </div>
                    <div class="form-group">
                        <label>Descripcion</label>
                        <textarea class="form-control" ng-model="formBuilder.ProductDescription" ng-disabled="disabledForm"></textarea>
                    </div>
                    <!--<div class="form-group" ng-repeat="image in formBuilder.Images || [0, 1]  track by $index">
                        <label>Imagen</label>
                        <div>
                            <input type="text" class="form-control" ng-model="formBuilder.Images[$index]" ng-disabled="disabledForm">
                        </div>

                    </div>-->
                    <fieldset ng-repeat="row in rows" ng-if="!disabledForm">
                        <div class="form-group">
                            <label>Imagen</label>
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" name="images[]" class="form-control" ng-model="formBuilder.Images[$index]"  ng-disabled="disabledForm"/>
                                </div>
                                <div class="col-2" ng-if="!disabledForm">
                                    <ion-icon class="text-danger" ng-model="row.remove" ng-click="removeRow()" name="trash-outline"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row"  ng-if="disabledForm">
                        <div class="col-2" ng-repeat="row in rows">
                            <img ng-src={{formBuilder.Images[$index]}} width="64" height="64" alt="Alternate Text" />
                        </div>
                    </div>

                    <div class="row"  ng-if="!disabledForm">
                        <div class="col">
                            <a class="btn btn-info" ng-click="addRow()">Agregar imagen</a>
                        </div>
                    </div>
                    
                    <br />
                    <div class="row justify-content-between">
                        <div class="col align-self-start">
                            <a class="btn btn-block btn-danger" data-dismiss="modal">Close</a>
                        </div>
                        <div class="col align-self-end">
                            <button type="submit" class="btn btn-block btn-success" ng-if="!disabledForm">Guardar</button>
                        </div>
                    </div>
                </form>
                
            </div>
            
        </div>
    </div>
</div>