.main-container{
    margin-top: 5rem;
}

ion-icon {
    font-size: 32px;
}


/*Home css*/

.card-custom {
    margin-top:2rem;
    height: 150px;
    width: 100%;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-products {
    background-color: #D9114A
}

.card-orders {
    background-color: #00B79F;
}

.card-clients {
    background-color: #01689C;
}

.card-custom:hover{
    box-shadow: 0px 0px 10px #808080;
}

.icon-btn{
    cursor: pointer;
    margin-right:10px;
}

a{
    text-decoration: none !important;
    
}
